<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	
    <title>Baby Beb Monitor</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-3.3.7/docs/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.7/docs/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'theme.css' %}">

    <link href="{% static 'bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <script src="{% static 'bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <![endif]-->
  </head>

  <body style="padding-top: 0px">
    <div class="container theme-showcase">
      <div class="jumbotron">
        <h1 style="color: #000000;">婴儿车状态</h1>
      </div>
      <div >
        <h2 class="page-header">各项指标</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">是否入睡</h3>
              </div>
              <div class="panel-body" id="isAsleep">
                是
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">睡眠时间</h3>
              </div>
              <div class="panel-body" id="sleeptime">
                2小时
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">睡眠温度</h3>
              </div>
              <div class="panel-body" id="sleeptemp">
                40摄氏度
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">是否尿床</h3>
              </div>
              <div class="panel-body" id="isWet">
                否
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">是否在床</h3>
              </div>
              <div class="panel-body" id="isInbed">
                是
              </div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">是否哭闹</h3>
              </div>
              <div class="panel-body" id="isCrying">
                否
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
        </div>
        

        
        <div>
          <h2 class="sub-header">摇篮开关</h2>
          <button type="button" class="btn btn-default" id="open" style="margin-right:20px">开启</button>
          <button type="button" class="btn btn-default" id="close">关闭</button>
        </div>
        
        <h2 class="sub-header">历史记录</h2>
        <div id="chart" style="height: 200px;">

        
      </div>

      

      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery.js' %}"></script>
    
	  <script src="{% static 'bootstrap-3.3.7/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'baby.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      $(document).ready(refresh())
    </script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>
